{% extends "layout/index.njk" %} 

{% block css  %}
  <link rel="stylesheet" href="/assets/styles/games.css">
  <link rel="stylesheet" href="/assets/css/card.css">
 {% endblock %}

{% block content %} 
  <div class="row mt-3">
    <h1 class="col-12 col-md-6 js-phrase"> Games collection</h1>
  </div>

  <div id="collection" class="row">
    {% for game in games %}
      <div class="card flip-box col-12 col-md-3 col-lg-2 mx-2 mt-3" title="{{game.name}}">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img class="card-img-top mt-2" src={{game.cover.url}} alt="Card image cap">
            <div class="card-body">
              <p class="card-text">{{game.name}}</p>
            </div>
            <div>
              <h4>{{game.price}} €</h4>
            </div>
            
          </div>

          <div class="flip-box-back">
              <div class="card-body">
                <a  href={{'/games/'+game.slug}} > 
                  <p class="card-text">{{game.summary}}</p>
                </a> 
              </div>
          </div>
        </div>
      </div>
    {%endfor %} 
  </div>

{% endblock %}

{% block script_js  %} 
  <script src="/assets/js/search_input.js" crossorigin="anonymous"></script>
{% endblock %}