{% extends "layout/index.njk" %}

{% block beforeContainer %}
  {% include "components/banner.njk" %}
{% endblock %}

{% block content %}
  <a role="button" class="btn btn-danger" href="{{ oauth_URL }}"> Do you want to log ?</a>
{% endblock %}
