{% extends "layout/index.njk" %}

{% block css  %} 
  <link rel="stylesheet" href="/assets/styles/error.css">
{% endblock %}

{% block title %}
  <title>Happy Game Store : 404</title>
{% endblock %}

{% block content %}
  <h1 class="titre_error mb-3 js-phrase">¡ Follow the white rabbit ^^ !</h1>
  <div class="row">
    
    <img class="mx-auto col-12 error" src="/assets/images/error_404.gif" alt="error 404">
    <a href="/"><img class="mx-auto col-12" src="/assets/images/lapino.gif" alt="rabbit"></a>
    
  </div>
  
{% endblock %}
